a{
    color: #4d5251;
}
.box{
    margin-bottom: 5px;
    box-shadow: -1px 1px 10px -2px black;
}
.fecha{
    font-size: 0.7em;
    float: right;
    color: gray;
}
.modal{
    color: white;
}
.modal > .container >.title{
    color: white;
}
.modal-content > form > .field > .label{
    color: white;
}
.form{
    box-shadow: -1px 1px 10px -2px #dcb4ac;
    padding: 10px;
}
.completado-true{
    border-top: 3px solid #35EB00;    
}
.completado-false{
    border-top: 3px solid #9E2C00;
}
.titulo.is-primary.is-bold {
    background-image:  linear-gradient(141deg,#b7b7b7 0,#f4f5f4 50%,#b7b7b7 100%);
    padding: 6px 0;
    text-align: center;
}
.descr{
    padding: 15px 15px;
    background: #f7f7f7;;
    margin-bottom: 10px;
}
.box {
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    color: #4a4a4a;
    display: block;
    padding: 0em 0em 0.5em 0;    
}
.level{
    justify-content: center;
}